body {
    padding: 0;
    margin: 0;
}
.image {
    background-image: url("star-wars.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block {
    background-color: hsl(15, 79%, 76%);
    width: 500px;
    height: 300px;
}
@media screen and (max-width: 600px) {
    .block {
        width: 100%;
    }
}